<div id="container">
  <div id="header"><h1>{{comicName}}</h1></div>
  <div id="comic" style="background-image: url('{{imageUrl}}');">&nbsp;</div>
  <div id="footer">
    <div class="align-bottom">
      <p>{{altText}}</p>
      <p><a href="{{xkcdUrl}}">xkcd #{{comicNumber}}</a></p>
    </div>
  </div>
</div>

{{#if rotate}}
  <meta http-equiv="refresh" content="60" />
{{/if}}